* {
  box-sizing: border-box;
}

.App {
  padding: 10px;
  min-width: 350px;
  color: #333;
  text-align: center;
  font-size: 18px;
}

#main-container {
  width: 100%;
}

.team-list {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  list-style: none;
  padding: 0;
  text-align: left;
}

.team-list li {
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
}

.team-list li.highlighted {
  background-color: #EEE;
}

.team-list li img {
  margin-right: 10px;
}

.play-button-container {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.control {
  display: block;
  text-align: center;
}

.selected-team {
  margin-top: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

footer .github-link .MuiSvgIcon-root {
  fill: currentColor;
  width: 12px;
  height: 12px;
  display: inline-block;
  font-size: 12px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.change-team {
  font-size: 0.8em;
}

footer {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  height: 35px;
}

footer .slider-container .slider-volume-icon {
  cursor: pointer;
  margin-right: 10px;
}

footer .github-link {
  font-size: 12px;
  align-self: flex-end;
}

input {
  padding: 0.5em 5px;
  font-size: 0.8em;
}
